[Oo]bj/
[Bb]in/
TestResults/
Viking.sln.ide
*.suo
*.user
*.docstates
*.nupkg
packages/
[Bb]uild/
[Nn]u[Pp]ack/
*.local.xml
*.crunchsolution.cache
*.ncrunchsolution
*.ncrunchproject
*.vs10x
TradeIt.Admin/App_Data/Elmah.Errors
TradeIt.Admin/_bin_deployableAssemblies/
TradeIt.Admin/TradeIt.Admin.Publish.xml
Thumbs.db
_ReSharper.Hive/
Publish/
.sass-cache/