<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:write-to:ColoredConsole" />
    <!--<add key="serilog:write-to:File.path" value="C:\Logs\log.txt" />-->
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs\BackendJobA-{Date}.txt" />
    <add key="serilog:write-to:RollingFile.fileSizeLimitBytes" value="500000000" />
    <!-- 500 MB -->
    <!--<add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />-->

    <!-- Seq -->
    <add key="serilog:using:Seq" value="Serilog.Sinks.Seq" />
    <add key="serilog:write-to:Seq.serverUrl" value="http://localhost:5341" />
    <!--<add key="serilog:write-to:Seq.apiKey" value="[optional API key here]" />-->
    <!--Output Templates-->
  </appSettings>
  <akka>
    <hocon>
      <![CDATA[
          akka {
            actor {
              provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
            }
            
            remote {
              log-remote-lifecycle-events = DEBUG
              helios.tcp {
                hostname = "127.0.0.1"
                port = 0
              }
            }

            cluster {
              seed-nodes = [
                "akka.tcp://MyBackendProcessingSystem@127.0.0.1:2553"]

              auto-down-unreachable-after = 30s
            }
          }
      ]]>
    </hocon>
  </akka>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>